// normalize.scss

$font-family-base:   'roboto', sans-serif;
$font-size-base:     16px;
$font-weight-base:   400;
$line-height-base:   1;

$body-color:   #000;
$body-bg:      #f4f6f5;

$headings-margin-bottom:   0;
$paragraph-margin-bottom:  0;

$link-color: inherit;
$link-decoration: none;

$link-hover-color: inherit;
$link-hover-decoration: none;

$label-margin-bottom: 0;

// THEME COLORS

$color-light-primary:      #fff;
$color-light-secondary:    #f4f6f5;

$color-dark-primary:       #263238;
$color-dark-secondary:     #70838d;
$color-dark-text:          #b0bec5;

$color-inactive-primary:   #e8e8e8;
$color-inactive-secondary: #90a4ae;

$color-accent-1:           #8bc34a;
$color-accent-2:           #e74c3c;
$color-accent-3:           #ffa726;
$color-accent-4:           #42a5f5;
$color-accent-5:           #546e7a;

$color-border-1:           #e7ecf2;
$color-border-2:           #d7d7d7;

$color-img-photo:          #b5b5b5;
$color-img-product:        #d4d4d4;

$color-soc-fb:             #6370b6;
$color-soc-tw:             #64b5f6;
$color-soc-in:             #4f71ce;
$color-soc-pn:             #d32f2f;

$shadow-btn:               #455a64;
$shadow-btn-hover:         #cad7e4;
$shadow-product:           $color-border-2;
$shadow-promo:             #ccc;
