#aside {
    margin-top: 29px;
    margin-bottom: 29px;

    .section{
        background: $color-light-primary;
        border: 1px solid $color-border-2;
        padding: 26px 26px 29px;
       }

    .title {
    color: $color-dark-primary;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 22px;
    border-bottom: 1px solid $color-border-1;
    }
}