#footer{
    background: $color-dark-primary;
    display: flex;
    justify-content: center;

        .footer-link{
            margin-left: 100px;

             i{
                 font-size: 18px;
                 color: $color-accent-1;
                }

             a{
                font-size: 15px;
                line-height: 36px;
                text-transform: capitalize;
                color: $color-inactive-secondary;
                transition: color .2s;

                 &:hover{
            color: $color-accent-1;
            }
                }
        }
}
