#footer{
   .title {
      position: relative;
      font-size: 22px;
      color: $color-light-primary;
      margin-bottom: 30px;
      padding-bottom: 30px;
       
      &:after {
         content: ""; 
         position: absolute;
         bottom: 0;
         left: 0;
         width: 51px;
         height: 3px;
         background-color: $color-accent-1;
      }
   }
}
