#front-banner{
    .wrapper {
        background: $color-dark-text url(img/bg-banner.jpg) 50% 50% / cover;
        margin: 138px 33px;
        padding: 115px 0;
    }

    .content {
        width: 60%;
        margin: 0 auto;
        padding: 73px 62px;
        background: $color-accent-1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text { 
        color: $color-light-primary;
        font-size: 30px;
        line-height: 34px;
    }
    
    .link {
        margin-left: 45px;
        background: $color-light-primary;   
        color: $color-dark-primary;
        padding: 0 43px;
        font-size: 18px;
        line-height: 63px;
        white-space: nowrap;
        transition: color .2s, background-color .2s;

        &:hover {
            background: $color-dark-primary;
            color: $color-light-primary;   
        }
    }
}
