#main-menu {
   background: $color-dark-primary;
   color: $color-light-primary;
   font-size: 14px;
   font-weight: 500;

   ul {
      display: flex;
   }

   li + li {
      margin-left: 42px;
   }

   a {
      line-height: 60px;
      transition: color .2s;

      &:hover {
         color: $color-accent-1;
      }
   }
}
