.product {
    display: flex;

}
// .view-line
.view-line {
    .poduct {
        flex-direction: row;
        flex: 0 0 100%;
        &-img {

        }
        &-info {
            flex-grow: 1;
        }
    }
   display: flex;
   flex-direction: column;
}

// .view-tile
.view-line {
   .product {
      flex: 0 0 100%;
      max-width: 100%;
      flex-direction: row;

      &-img {

      }

      &-info {
         flex-grow: 1;
      }
   }
}
